.frame {
    border: 2px solid #56ab62;
    margin-left: 0.01px;
}
.awa div{
    border: 1px solid #397a42;
}

.navtitle{
    color: #ffff;
    font-size: large;
}

.body{
    background-color: #d1dad2;
}

* ul, ol {
    list-style: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
    color: #fbfffc;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}

.menuBlock {
    border-style: solid;
    border: 3px solid #56ab62;
    border-radius: 20px;
    max-height: 29vh;
    max-width: 26vh;
}

.menu-list h2 {
    margin: 13px;
    border-bottom: 2px solid #25522b;
}

.menu-list ul li{
    margin-left: -25px;
    margin-bottom: 4px;
    display: block;
}

.menu-list span {
    display: block;
    float: right;
    margin-right: 20px;
    margin-left: 21px;
}

.menu-list ol span{
    margin-right: -2px;
}

.desc{
    margin-left: -35px;
}

.footer{
    margin-top: 20px;
    background-color: #56ab62;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.link{
    color: #d1dad2;
    font-size: large;
}

.navbutton{
    background-color: #d1dad2;
}

.navbarbuttonStyle{
    background-color: #56ab62;
    border: #56ab62;
}

.dropdownStyle{
    background-color: #dbe2dc;
    border: 2px solid #6ca574;
    border-radius: 0.8rem;
}

.last-warning{
    text-align: center;
}

.iconColor{
    color: #ffffff;
}